[Desktop Entry]
Name=WFInfo
Comment=Warframe relic reward prices via OCR
Exec=WFInfo
Icon=WFInfo
Type=Application
Categories=Utility;
Terminal=false
StartupWMClass=WFInfo